.input-block {
    margin-top: 5rem;
    display: block;
    text-align: left;
    color: var(--color-secondary);
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    font-size: 1.4rem;
}

.input-block input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--color-secondary);
    outline: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: var(--color-primary);
}